<div class="login-form">
  Name yourself:<br/>
  <input id="login" place-holder="Your Login" /><br/>
  <button id="login-button">Login</button><br/>
</div>
<div class="name-form">
  <div id="name"></div>	
  <button id="logout-button">Logout</button>
  <button id="gotorooms-button">To rooms</button>
</div>
